@import "home/newsserver.css";
@import "home/startgame.css";
@import "home/statusserver.css";

.overlay {
    position: absolute;
    background-image:  url("/app/assets/images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;

    height: 100%;
    width: 87%;
}

.user-head {
    position: relative;
    margin-top: 30px;
    width: 47px;
    margin-left: -23px;
    height: auto;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 15px;
}

.user-head:hover {
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 5px;
}

.settings-btn {
    position: absolute;
    margin-top: 50%;
    margin-left: -24%;
   
    border: none;
    width: 47px;
    height: 47px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    color: rgb(167, 167, 167);
    border-radius: 15px;
    font-size: 200%;
    opacity: 0.2;
}
.icon-settings {
    opacity: 1;
}

.settings-btn:hover {
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    border-radius: 5px;
}