.block-play {
    position: absolute;
    background: #222222;
    width: 50px;  
    margin: 10px;
    padding: 50px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    margin-right: 130px;
    border-radius: 10px;

    
}

.play-btn {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: none;
    color: azure;
    bottom: 10px;
    left: 5%;
    background: #00f318;
}

.play-btn:hover {
    background: #272928;
}

.info-download {
    color: #fff;
    height: 15%;
    width: 20%;
    text-align: center;
    margin-top: 1%;
    margin-left: 75%;
    display: none;
}

.progress-bar {
    position: absolute;
    margin-top: 5%;
    margin-left: 75%;
    height: 15%;
    width: 20%;
    background-color: transparent;
    display: none;
    appearance: none;
    transition: opacity .2s;
}

.progress-bar::-webkit-progress-bar {
    background-color: #272928;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #64bf6d;
    border-radius: 10px;
}